In [1]:
import pandas as pd
import sqlite3

In [2]:
# Listas para os chamdos TI
chamados_TI = [
    ['ID','Titulo','Descricao','Data_abertura','Status','Prioridade','ID_Departamento','ID_Usuario'],
    [1,'Conexão lenta','Conexão de internet lenta demais','08 ago. 23','Concluída',1,1,1],
    [2,'Conexão lenta','Conexão muito lenta','09 ago. 23','Concluída',1,2,2],
    [3,'Computador lento','Computador demora para abrir os programas','10 ago. 23','Concluída',3,3,3],
    [4,'Monitor com defeito','display com risco vermelho','11 ago. 23','Em Progresso',2,4,4],
    [5,'Conexão lenta',"Não consigo navegar pela plataforma da empresa, conexão lenta",'12 ago. 23','Em Progresso',1,5,5],
    [6,'Troca de componentes','mouse com problemas','13 ago. 23','Aberto',2,5,5],
    [7,'Solicitação de acesso','Preciso de acesso liberado a determinados sites','14 ago. 23','Aberto',3,5,4],
    [8,'Solicitação de acesso','Preciso de acesso liberado a determinados sites','15 ago. 23','Aberto',3,2,9],
    [9,'Solicitação de acesso','Preciso de acesso liberado a determinados sites','16 ago. 23','Aberto',3,1,10],
    [10,'Conexão lenta','Conexão lenta','17 ago. 23','Em Progresso',1,5,7],
    [11,'Conexão lenta','Dificuldade de acesso','17 ago. 23','Em Progresso',1,2,5],
]

# Listas para os usuários
usuarios  = [
    ['ID','Nome','Email','ID_Departamento'],
    [1,'André Felipe','andre@gmail.com',1],
    [2,'Josias Meira','Josias@gmail.com',2],
    [3,'Ulysses Bernardo','ulysses@gmail.com',3],
    [4,'Lívia Melo','livia@gmail.com',4],
    [5,'Jéssica Frutado','jessica@gmail.com',5],
    [6,'Vitória Silva','fulano@gmail.com',5],
    [7,'Larissa Meira','larissa@gmail.com',1],
    [8,'Alysson Silva','alysson@gmail.com',1],
    [9,'Júnior Sales','junior@gmail.com',2],
    [10,'Bianca Andrade','bianca@gmail.com',1],
]


# Listas para os departamentos
departamentos = [
    ['id','Departamentos'],
    [1,'TI'],
    [2,'RH'],
    [3,'Compras'],
    [4,'Produção'],
    [5,'Depósito'],
    [6,'Vendas'],
    [7,'Financeiro'],
]

In [3]:
dfChamados = pd.DataFrame(chamados_TI[1:], columns=chamados_TI[0], index = None)
dfUsuarios = pd.DataFrame(usuarios[1:], columns=usuarios[0], index = None)
dfDepartamentos = pd.DataFrame(departamentos[1:], columns=departamentos[0], index = None)

In [4]:
# Gerando arquivos CSV
dfChamados.to_csv('chamados.csv', index=False)
dfUsuarios.to_csv('usuarios.csv', index=False)
dfDepartamentos.to_csv('departamentos.csv', index=False)

In [5]:
# Conexão com banco de dados

conn = sqlite3.connect('chamados.db')

In [6]:
# Criação da tabela chamados

create_chamados_table_sql = '''
create table if not exists chamados_TI (
    ID int primary key,
    titulo text,
    Descricao text,
    Data_abertura text,
    Status text,
    Prioridade int,
    ID_Departamento int,
    ID_Usuario int
)
'''
conn.execute(create_chamados_table_sql)

In [7]:
# Utilizando pandas para inserir os registros na tabela
dfChamados.to_sql('chamados_TI', conn, if_exists = 'replace', index = False)

11

In [8]:
# Criando tabelas para Usuarios e Departamentos

create_usuarios_table_sql = '''
create table if not exists Usuarios (
    ID int primary key,
    Nome text,
    Email text,
    Id_Departamento int
)
'''

create_departamentos_table_sql = '''
create table if not exists Departamentos (
    ID int primary key,
    Departamentos text
)
'''

conn.execute(create_usuarios_table_sql)
conn.execute(create_departamentos_table_sql)

In [9]:
dfUsuarios.to_sql('Usuarios', conn, if_exists = 'replace', index = False)
dfDepartamentos.to_sql('Departamentos', conn, if_exists = 'replace', index = False)

7

In [10]:
# Fechando conexão
conn.close()

In [11]:
conn = sqlite3.connect('chamados.db')

### Realizando as consultas

In [12]:
# Teste
teste = '''
select * from chamados_TI
'''
result_df = pd.read_sql_query(teste, conn)
result_df

,ID,Titulo,Descricao,Data_abertura,Status,Prioridade,ID_Departamento,ID_Usuario
0,1,Conexão lenta,Conexão de internet lenta demais,08 ago. 23,Concluída,1,1,1
1,2,Conexão lenta,Conexão muito lenta,09 ago. 23,Concluída,1,2,2
2,3,Computador lento,Computador demora para abrir os programas,10 ago. 23,Concluída,3,3,3
3,4,Monitor com defeito,display com risco vermelho,11 ago. 23,Em Progresso,2,4,4
4,5,Conexão lenta,Não consigo navegar pela plataforma da empresa...,12 ago. 23,Em Progresso,1,5,5
5,6,Troca de componentes,mouse com problemas,13 ago. 23,Aberto,2,5,5
6,7,Solicitação de acesso,Preciso de acesso liberado a determinados sites,14 ago. 23,Aberto,3,5,4
7,8,Solicitação de acesso,Preciso de acesso liberado a determinados sites,15 ago. 23,Aberto,3,2,9
8,9,Solicitação de acesso,Preciso de acesso liberado a determinados sites,16 ago. 23,Aberto,3,1,10
9,10,Conexão lenta,Conexão lenta,17 ago. 23,Em Progresso,1,5,7
10,11,Conexão lenta,Dificuldade de acesso,17 ago. 23,Em Progresso,1,2,5

### Relação de todos os usuários por departamento em ordem alfabética.

In [13]:
query1 = '''
select 
    Usuarios.Nome, 
    Departamentos.Departamentos
from Usuarios
join Departamentos on Usuarios.ID_Departamento = Departamentos.id
order by Departamentos.Departamentos desc, Usuarios.Nome asc
'''

resultado_query1 = pd.read_sql_query(query1, conn)
resultado_query1

               Nome Departamentos
0     Alysson Silva            TI
1      André Felipe            TI
2    Bianca Andrade            TI
3     Larissa Meira            TI
4      Josias Meira            RH
5      Júnior Sales            RH
6        Lívia Melo      Produção
7   Jéssica Frutado      Depósito
8     Vitória Silva      Depósito
9  Ulysses Bernardo       Compras

### Relação de todos os chamados por grau de prioridade de atendimento (baixa, normal ou alta).

In [14]:
query2 = '''
select
    Chamados_ti.id,
    Chamados_ti.titulo,
    Chamados_ti.descricao,
    Chamados_ti.data_abertura,
    Chamados_ti.status,
    Chamados_ti.prioridade,
    Departamentos.Departamentos as Departamento,
    Usuarios.Nome as Usuario
from Chamados_ti
join Departamentos on Chamados_ti.ID_Departamento = Departamentos.ID
join Usuarios on Chamados_ti.ID_Usuario = Usuarios.ID
order by Prioridade asc
'''
resultado_query2 = pd.read_sql_query(query2, conn)

# Função para mudar os valores de "Prioridade"
def muda_valor(x):
    if x == 1:
        return "Baixa"
    elif x == 2:
        return "Média"
    elif x == 3:
        return "Alta"

resultado_query2['Prioridade'] = resultado_query2['Prioridade'].map(muda_valor)

In [15]:
resultado_query2

,ID,Titulo,Descricao,Data_abertura,Status,Prioridade,Departamento,Usuario
0,1,Conexão lenta,Conexão de internet lenta demais,08 ago. 23,Concluída,Baixa,TI,André Felipe
1,2,Conexão lenta,Conexão muito lenta,09 ago. 23,Concluída,Baixa,RH,Josias Meira
2,5,Conexão lenta,Não consigo navegar pela plataforma da empresa...,12 ago. 23,Em Progresso,Baixa,Depósito,Jéssica Frutado
3,10,Conexão lenta,Conexão lenta,17 ago. 23,Em Progresso,Baixa,Depósito,Larissa Meira
4,11,Conexão lenta,Dificuldade de acesso,17 ago. 23,Em Progresso,Baixa,RH,Jéssica Frutado
5,4,Monitor com defeito,display com risco vermelho,11 ago. 23,Em Progresso,Média,Produção,Lívia Melo
6,6,Troca de componentes,mouse com problemas,13 ago. 23,Aberto,Média,Depósito,Jéssica Frutado
7,3,Computador lento,Computador demora para abrir os programas,10 ago. 23,Concluída,Alta,Compras,Ulysses Bernardo
8,7,Solicitação de acesso,Preciso de acesso liberado a determinados sites,14 ago. 23,Aberto,Alta,Depósito,Lívia Melo
9,8,Solicitação de acesso,Preciso de acesso liberado a determinados sites,15 ago. 23,Aberto,Alta,RH,Júnior Sales
10,9,Solicitação de acesso,Preciso de acesso liberado a determinados sites,16 ago. 23,Aberto,Alta,TI,Bianca Andrade

### Quem foi o usuário que abriu mais chamados e em que quantidade?

In [16]:
query3 = '''
select
    Usuarios.nome as Usuario,
    Departamentos.Departamentos as Departamento,
    count(Chamados_ti.ID) as Total_Chamados
from Usuarios
join Chamados_ti on Usuarios.id = Chamados_ti.ID_Usuario
join Departamentos on Usuarios.ID_Departamento = Departamentos.ID
group by Usuarios.ID, Usuarios.Nome, Departamentos.Departamentos
order by Total_Chamados desc
limit 1
'''

resultado_query3 = pd.read_sql_query(query3, conn)
resultado_query3

           Usuario Departamento  Total_Chamados
0  Jéssica Frutado     Depósito               3

### Quantidade de chamados por departamento.

In [17]:
query4 = '''
select
    Departamentos.Departamentos as DepartamentoS,
    count(chamados_ti.ID) as Quantidade_Chamados
from chamados_ti
join Usuarios on chamados_ti.ID_Usuario = Usuarios.ID
join Departamentos on Usuarios.ID_Departamento = Departamentos.ID
group by Departamentos.ID, Departamentos.Departamentos
order by Quantidade_Chamados asc
'''
resultado_query4 = pd.read_sql_query(query4, conn)
resultado_query4

  DepartamentoS  Quantidade_Chamados
0       Compras                    1
1            RH                    2
2      Produção                    2
3            TI                    3
4      Depósito                    3